---
import "../styles/footer.scss"
---

<footer>
    <div class="social-links">
        <p>Siga-nos nas redes sociais:</p>
        <ul>
            <li>
                <a href="" class="social-icons-link">
                    <i class="fa-brands fa-facebook-f"></i>
                </a>
            </li>
            <li>
                <a href="" class="social-icons-link">
                    <i class="fa-brands fa-twitter"></i>
                </a>
            </li>
            <li>
                <a href="" class="social-icons-link">
                    <i class="fa-brands fa-instagram"></i>
                </a>
            </li>
        </ul>
    </div>
    <div class='footer-content'>
        <div class='about-section footer-sections'>
            <img src="/public/images/alimentarplus_logo_principal.png" alt="logo" width="140" />
            <p>Doar alimentos,<br />alimentar esperanças</p>
        </div>
        <div class='descubra-section footer-sections'>
            <span class='sections-title'>Descubra</span>
            <ul>
                <li>
                    <a href="https://app.alimentarplus.com.br/login">Login</a>
                </li>
                <li>
                    <a href="https://app.alimentarplus.com.br/cadastro">Cadastro</a>
                </li>
            </ul>
        </div>
        <div class='contact-section footer-sections'>
            <span class='sections-title'>Contato</span>
            <ul>
                <li>contato@alimentarplus.com.br</li>
            </ul>
        </div>
    </div>
    <div class='copyright'>
        <span>Alimentar+ © 2024 Copyright. Todos os direitos reservados.</span>
    </div>
</footer>