---
import "../styles/main.scss"
---

<main>
    <section class="intro-section" id="intro-section">
        <div class="main-banner-image-container">
            <img src="/public/images/beginKidImage.jpeg" alt=""/>
        </div>

        <div class="intro-text" data-aos="fade-up" data-aos-duration="1000">
            <h1>Somos uma empresa que fornece o contato simplificado <br/> e fácil entre supermecados e ONGs.</h1>
            <p>Integramos supermercados e ONGs para doação de alimentos que seriam descartados, ajudando a combater a fome no Brasil.</p>
        </div>
    </section>

    <section class="topics-section" id="topics-section">
        <div class="combate-a-fome highlights" data-aos="fade-right" data-aos-duration="2000">
            <div class="text">
                <h2>Combate a Fome</h2>
                <p>A fome no Brasil persiste como um desafio grave, afetando milhões de pessoas. A desigualdade social, a falta de acesso a alimentos e a pobreza são fatores determinantes. Por isso a Alimentar+ possui uma solução de ponta para supermercados que descartam alimentos e ONGs que coletam e distruibuem esses alimentos.</p>
            </div>
            <img src="/public/images/WolrdImage.jpeg" alt=""/>
        </div>

        <div class="a-solucao highlights" data-aos="fade-left" data-aos-duration="2000">
            <img src="/public/images/CellphoneImage.png" alt=""/>

            <div class="text">
                <h2>A Solução</h2>
                <p>O Alimentar+ é uma solução tecnológica eficiente e escalável para combater a fome no Brasil. Ela simplifica o processo de doação de alimentos, facilita a conexão entre os doadores e receptores, e contribui para reduzir o desperdício, promovendo uma distribuição mais justa e equitativa dos recursos alimentares disponíveis.</p>
            </div>
        </div>
        
        <div class="quem-somos highlights" data-aos="fade-right" data-aos-duration="2000">
            <div class="text">
                <h2>Quem Somos</h2>
                <p>A Alimentar+ surgiu durante nosso trabalho na faculdade, ao constatarmos o desperdício de alimentos pelos supermercados e a carência alimentar das pessoas. Estamos comprometidos em utilizar a tecnologia para promover a igualdade de acesso à alimentação adequada.</p>
            </div>
            <img src="/public/images/ImageDuo.jpeg" alt=""/>
        </div>
    </section>

    <section class="plans-section" id="plans-section" data-aos="fade-up" data-aos-duration="1000">
        <div class="plans-initial-description">
            <h2>Planos</h2>
            <p>Nossos planos possuem o modelo de cobrança mensal para supermercados.</p>
        </div>
        <div class="plans-container">
            <div class="plan-card">
                <div class="card-top-content">
                    <p class="plan-type-name">Grátis</p>
                    <p class="plan-description">Começe simples com alguns <br> beneficios disponíveis</p>
                    <p class="plan-price">R$0/mês</p>
                    <ul class="plan-resources">
                        <li><i class="fa-solid fa-check"></i><span>Doações ilimitadas</span></li>
                    </ul>
                </div>
                <div class="button-link-container">
                    <a href="https://d1kdgun5dfdw8i.cloudfront.net/cadastro" target="_blank">Ir para plataforma</a>
                </div>
            </div>
            <div class="plan-card">
                <div class="card-top-content">
                    <p class="plan-type-name">Premium</p>
                    <p class="plan-description">Começe turbinado com todos os beneficios disponíveis</p>
                    <p class="plan-price">R$40/mês</p>
                    <ul class="plan-resources">
                        <li><i class="fa-solid fa-check"></i><span>Doações ilimitadas</span></li>
                        <li><i class="fa-solid fa-check"></i><span>Métricas e dashboards das doações</span></li>
                        <li><i class="fa-solid fa-check"></i><span>Certificado exclusivo</span></li>
                    </ul>
                </div>
                <div class="button-link-container">
                    <a href="https://d1kdgun5dfdw8i.cloudfront.net/cadastro" target="_blank">Ir para plataforma</a>
                </div>
            </div>
        </div>
    </section>

    <section class="team-section" id="team-section" data-aos="fade-up" data-aos-duration="1000">
        <h2>Conheça a equipe responsável pelo projeto</h2>
        <p>
            Somos uma equipe multi-disciplinar que teve a ideia de desenvolver o Alimentar+ a partir do nosso Trabalho de Conclusão de Curso (TCC)
            da Faculdade, ficamos tão empolgados com a ideia que decidimos trazer para o mundo real. Nosso objetivo é poder trazer para as ONGs
            mais acessibilidade aos alimentos descartados pelos restaurantes, mercados e qualquer tipo de comercio alimenticio, com isso ajudando
            as pessoas com necessidades alimentares no Brasil.
        </p>

        <ul class="team-pictures-container">
            <li class="team-picture-card">    
                <img src="/public/images/alex.jpg" alt="alex-photo">
                <p class="team-name">
                    Alex <br>
                    <span>Lider e Desenvolvedor Back-End</span>
                </p>
            </li>
            <li class="team-picture-card">
                <img src="/public/images/matheus.jpg" alt="matheus-photo">
                <p class="team-name">
                    Matheus <br>
                    <span>Idealizador do Projeto</span>
                </p>
            </li>
            <li class="team-picture-card">
                <img src="/public/images/joao.jpg" alt="joao-photo">
                <p class="team-name">
                    João <br>
                    <span>Desenvolvedor Full-Stack</span>
                </p>
            </li>
            <li class="team-picture-card">
                <img src="/public/images/milan.jpg" alt="milan-photo">
                <p class="team-name">
                    Milan <br>
                    <span>Idealizador do Projeto</span>
                </p>
            </li>
            <li class="team-picture-card">
                <img src="/public/images/lucas.jpg" alt="lucas-photo">
                <p class="team-name">
                    Lucas <br>
                    <span>Idealizador do Projeto</span>
                </p>
            </li>
            <li class="team-picture-card">
                <img src="/public/images/grotta.jpg" alt="grotta-photo">
                <p class="team-name">
                    Grotta <br>
                    <span>Idealizador do Projeto</span>
                </p>
            </li>
        </ul>

        <!-- <div class="swiper mySwiper">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <img src="/public/images/alex.jpg" alt="alex-img">

                    <div class="person-info">
                        <p>Alex de Jesus</p>
                        <p>Idealizador</p>
                    </div>
                </div>
                <div class="swiper-slide">
                    <img src="/public/images/alex.jpg" alt="alex-img">

                    <div class="person-info">
                        <p>Alex de Jesus</p>
                        <p>Idealizador</p>
                    </div>
                </div>
                <div class="swiper-slide">
                    <img src="/public/images/alex.jpg" alt="alex-img">

                    <div class="person-info">
                        <p>Alex de Jesus</p>
                        <p>Idealizador</p>
                    </div>
                </div>
                <div class="swiper-slide">
                    <img src="/public/images/alex.jpg" alt="alex-img">

                    <div class="person-info">
                        <p>Alex de Jesus</p>
                        <p>Idealizador</p>
                    </div>
                </div>
                <div class="swiper-slide">
                    <img src="/public/images/alex.jpg" alt="alex-img">

                    <div class="person-info">
                        <p>Alex de Jesus</p>
                        <p>Idealizador</p>
                    </div>
                </div>
                <div class="swiper-slide">
                    <img src="/public/images/alex.jpg" alt="alex-img">

                    <div class="person-info">
                        <p>Alex de Jesus</p>
                        <p>Idealizador</p>
                    </div>
                </div>
            </div>
            <div class="swiper-pagination">

            </div>
        </div> -->
    </section>

    <!-- <section class="video-section" data-aos="fade-up" data-aos-duration="1000">
        <h2>Saiba um pouco mais da nossa solução com o <br> video abaixo.</h2>

        <iframe src="https://www.youtube.com/embed/tgbNymZ7vqY"></iframe>
    </section> -->

    <section class="slogan-section">
        <p>Faça a diferença. Ajude pessoas. Proteja o meio ambiente. <br> Combata a fome.</p>
    </section>

    <section class="contact-section" id="contact-section">
        <h2>Entre em contato conosco</h2>

        <form action="#" method="POST" class="contact-form">
            <div class="input-field">
                <label for="name">Nome</label>
                <input type="text" name="name" id="name">
            </div>
            <div class="input-field">
                <label for="last-name">Sobrenome</label>
                <input type="text" name="last-name" id="last-name">
            </div>
            <div class="input-field">
                <label for="email">E-mail</label>
                <input type="email" name="email" id="email">
            </div>
            <div class="input-field">
                <label for="company">Empresa/Organização</label>
                <input type="text" name="company" id="company">
            </div>
            <div class="input-field">
                <label for="message">Mensagem</label>
                <textarea name="message" id="message" rows="10"></textarea>
            </div>
            
            <div class="submit-button-field">
                <input type="submit" value="Enviar">
            </div>
        </form>
    </section>
</main>